In [1]:
import pandas as pd

In [2]:
ROOT = '/data1/APA/Paul_ALS_Data/bams_in/subscelltype_bamfiles/Mapper_outs/'

In [6]:
df = pd.read_csv(f'{ROOT}Excitatory_C9ALSvsCTRL/gene.txt', sep='\t')
df

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
0,B3GALT6,2,0.000002,1.600,NaN,2.720,6.070000e-07,NaN,NaN,0,72,0,0,0,0,0,0,63,0
1,PUSL1,4,0.130000,0.212,NaN,0.964,1.220000e-02,NaN,NaN,37,193,0,0,88,79,0,40,125,0
2,MIB2,2,0.003960,NaN,0.917,NaN,NaN,0.917,1.150000e-03,61,315,0,0,327,467,75,384,931,0
3,PRKCZ,4,0.003760,-0.334,0.641,-0.564,1.610000e-02,0.836,2.510000e-08,170,589,0,105,491,488,57,446,848,29
4,SKI,5,0.394000,-0.143,-0.228,-0.556,5.310000e-02,0.177,6.460000e-01,34,150,0,34,162,293,34,126,220,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9250,LAGE3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,264,0,49,0,0,0,0,134,0
9251,FAM3A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105,0,0,36,30,0,31,42,0
9252,G6PD,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,45,0,0,31,45,0,4,58,0
9253,MPP1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,159,0,0,93,79,0,45,133,0
9254,RAB39B,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,92,0,0,79,81,0,68,41,0

In [7]:
df[df['gene'] == 'STMN2']

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
5696,STMN2,5,3.920000e-15,0.418,-1.07,0.977,8.860000e-14,-1.44,3.270000e-13,395,1982,0,167,463,407,111,118,590,53

In [8]:
df[df['gene'] == 'UNC13A']

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
3036,UNC13A,4,0.000005,0.173,0.772,-0.411,0.0206,1.12,6.850000e-08,123,561,16,62,443,502,95,193,577,64